<html>
    <head></head>

    <body>
        <img src="{{{image_profile}}}" alt="" width="500px">
        <h1> {{greeting}} </h1>
        <p> {{introduction}} </p>

        <h3>Programming Languages</h3>
        <ol>
            {{#languages}}
            <li>{{name}}, {{years}} years of experience</li>
            {{/languages}}
        </ol>

        {{>form}}
        
    </body>

</html>